*name: Wolf Anti-Stop Stream

on:
  workflow_dispatch:
    inputs:
      video_url:
        description: 'رابط الفيديو'
        required: true
      rtmp_key:
        description: 'ساروت RTMP'
        required: true
      overlay_text:
        description: 'الكتيبة'
        default: 'WOLF LIVE ⚽'
        required: true

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Start Streaming
        run: |
          ffmpeg -re -reconnect 1 -reconnect_streamed 1 -reconnect_delay_max 5 \
          -i "${{ github.event.inputs.video_url }}" \
          -vf "drawtext=text='${{ github.event.inputs.overlay_text }}':x=(w-text_w)/2:y=h-th-40:fontsize=45:fontcolor=white:borderw=3:bordercolor=black" \
          -c:v libx264 -preset ultrafast -tune zerolatency -b:v 2000k -c:a aac -f flv "${{ github.event.inputs.rtmp_key }}"
