name: FB-Streamer-Nejma-VIP

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *' # كيعاود راسو كل 6 سوايع

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install FFmpeg
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      - name: Start Stream
        env:
          # حط الروابط ديالك هنا باش يخدم الـ Cron بوحدو
          VIDEO_URL: "رابط_الفيديو_هنا"
          RTMP_KEY: "رابط_فيسبوك_هنا"
        run: |
          ffmpeg -re -reconnect 1 -reconnect_at_eof 1 -reconnect_streamed 1 -reconnect_delay_max 10 \
          -i "$VIDEO_URL" \
          -i nejma_vip.png \
          -filter_complex \
          "[1:v]scale=150:-1[logo]; \
           [0:v]scale=1280:720[bg]; \
           [bg][logo]overlay=W-w-30:30[vid]; \
           [vid]drawtext=textfile='text.txt':reload=1:x=(w-text_w)/2:y=h-th-60:fontsize=40:fontcolor=yellow:borderw=2:bordercolor=black" \
          -c:v libx264 -preset ultrafast -tune zerolatency -b:v 2000k -maxrate 2000k -bufsize 4000k \
          -g 50 -c:a aac -b:a 128k -f flv "$RTMP_KEY"
