name: FB Multi Streamer
on:
  workflow_dispatch:
    inputs:
      m3u8_url:
        description: 'رابط القناة المستخرج من السكريبت'
        required: true
      fb_rtmp:
        description: 'رابط فيسبوك RTMPS المستخرج من السكريبت'
        required: true

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt update && sudo apt install -y ffmpeg
      
      - name: Start Streaming
        run: |
          ffmpeg -re -i "${{ github.event.inputs.m3u8_url }}" \
          -c:v libx264 -preset superfast -b:v 2500k -maxrate 2500k -bufsize 5000k \
          -pix_fmt yuv420p -g 50 -c:a aac -b:a 128k -ar 44100 \
          -f flv -tls_verify 0 "${{ github.event.inputs.fb_rtmp }}"
