name: FB Multi Streamer
on:
  workflow_dispatch:
    inputs:
      m3u8_url:
        description: 'رابط القناة'
        required: true
      fb_rtmp:
        description: 'رابط فيسبوك'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt update && sudo apt install -y ffmpeg
      
      - name: Start Streaming
        run: |
          ffmpeg -re -i "${{ github.event.inputs.m3u8_url }}" \
          -c:v libx264 -preset veryfast -maxrate 3000k -bufsize 6000k \
          -pix_fmt yuv420p -g 50 -c:a aac -b:a 128k -ar 44100 \
          -f flv "${{ github.event.inputs.fb_rtmp }}"
