name: FB Multi Streamer
on:
  workflow_dispatch:
    inputs:
      m3u8_url:
        description: 'M3U8'
        required: true
      fb_rtmp:
        description: 'RTMPS'
        required: true
      live_text:
        description: 'Text to show on video'
        required: false
        default: 'Live Stream'

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: |
          sudo apt update
          sudo apt install -y ffmpeg

      - name: Start Streaming
        run: |
          ffmpeg -re -i "${{ github.event.inputs.m3u8_url }}" \
          -vf "drawtext=text='${{ github.event.inputs.live_text }}':x=(w-tw)/2:y=h-50:fontsize=36:fontcolor=white:box=1:boxcolor=black@0.6" \
          -c:v libx264 -preset superfast -b:v 2000k -maxrate 2000k -bufsize 4000k \
          -pix_fmt yuv420p -g 50 -c:a aac -b:a 128k -ar 44100 \
          -f flv -tls_verify 0 "${{ github.event.inputs.fb_rtmp }}"
